{% extends 'matrix-admin/index2.html' %}
{% load crispy_forms_filters %}
{% block contents %}


  
  <!--Password Reset Confirm-->
<div class="container p-5 px-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ set_password_form | crispy }}
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>
{% endblock contents %}