<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <title>Student Details</title>
  </head>

  <body>
  <div class="d-flex px-1 table-data">
    <table class="table table-striped table-dark">
      <thead class="thead-dark">
    <tr>
      <td>First Name</td>
      <td>Class Code</td>
      <td>
        <a href="{% url 'Register_Class' %}" class="btn text-secondary px-0">
          <i class="far fa-plus fa-lg">Add New Class</i>
        </a>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for class in class_details %}
    <tr>
      <td>{{class.class_name}}</td>
      <td>{{class.class_code}}</td>
      <td>
        <a
          href="{% url 'Register_Class_Update' class.id %}"
          class="btn text-secondary px-0"
        >
        <i class="fa-solid fa-pen-to-square">Edit</i>
        </a>
        <form action="{% url 'Class_delete' class.id  %}" method="post" enctype="multipart/form-data">
          <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
          </button>
        </form>
      </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
</body>
</html>